html {
  font-size: 16px !important;
  font-family: 'Raleway', sans-serif;
}

body {
  width: 100%;
}
header {
  background-color: #422ed4;
}

.header-container {
  margin: 0 auto;
  width: 78%;
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
  font-weight: 800;
  align-self: center;
  height: 100%;
}
.btn-header {
  margin-left: 2%;
  background-color: #422ed4;
  border-width: 0;
  color: white;
  font-size: 16px !important;
  font-family: 'wild-family';
  padding: 16px 10px;
  text-decoration: none;
}
.btn-header:hover {
  background-color: #6655d4;
}
.btn-header:first-of-type {
  margin-left: 10%;
}
.btn-header.btn-header-slct {
  margin-top: 4px;
  border-bottom: 4px solid #150b51;
  height: 100%;
}
.chuck-logo {
  margin-right: 10px;
  height: 43px;
  width: 43px;
}
.categories {
  width: 78%;
  margin: 0 auto;
}

.title {
  margin: 30px 0;
  font-size: 3.125rem;
  font-weight: 800;
  text-align: center;
}
.categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  z-index: 1;
}
.btn-light {
  height: 57px;

  background-color: white;
  border-radius: 20px;
  color: black;
  width: 15.1%;
  margin-right: 10px;
  font-weight: 800;
  font-size: 1rem !important;
  border: white;
  box-shadow: 0 0 7px 0px rgb(215 206 206);
  margin-bottom: 15px;
}

.btn-light:hover {
  background-color: #422ed4;
  color: white;
}

.phrase-container {
  margin: 0 auto;
  margin-top: -30px;
  width: 78%;
  max-width: 600px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

#chuck_img {
  position: relative;
  top: 20px;
  z-index: 1;
  margin-right: 20px;
}

.phrase {
  padding: 24px;
  min-height: 100px;
  color: white;
  background-color: #422ed4;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.9rem;
  z-index: 2;
  width: 100%;
  border-radius: 25px;
  position: relative;
  height: max-content;
  top: -85px;
}
.meme {
  width: 100%;
  max-height: 400px;
}
.loaderContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
}
